---
Language: Cpp
BasedOnStyle: Mozilla
# ColumnLimit: 65
SpacesInParentheses: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeCpp11BracedList: true
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: true
AllowShortBlocksOnASingleLine: Always
BreakBeforeBraces: Attach
# BraceWrapping:
#   AfterClass: false
#   AfterControlStatement: Never
#   AfterFunction: false
#   AfterStruct: false
#   AfterEnum: false
#   SplitEmptyFunction: false
#   SplitEmptyRecord: false
#   SplitEmptyNamespace: false
PackConstructorInitializers: NextLine
...

